<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Entertain</string>
		<key>Streams</key>
		<array>
			<dict>
				<key>Name</key>
				<string>NDR</string>
				<key>Icon</key>
				<string>NDR</string>
				<key>Substreams</key>
				<array>
					<dict>
						<key>Name</key>
						<string>Überregional</string>
						<key>URL-HD</key>
						<string>rtp://@239.35.10.50:10000</string>
						<key>URL-SD</key>
						<string>rtp://@239.35.10.10:10000</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Hamburg</string>
						<key>URL-SD</key>
						<string>rtp://@239.35.10.31:10000</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>NDR Meckl.-Vorpommern</string>
						<key>URL-SD</key>
						<string>rtp://@239.35.10.32:10000</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>NDR Schleswig-Holstein</string>
						<key>URL-SD</key>
						<string>rtp://@239.35.10.33:10000</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Das Erste</string>
				<key>Icon</key>
				<string>ARD</string>
				<key>Substreams</key>
				<array>
					<dict>
						<key>Name</key>
						<string>Überregional</string>
						<key>URL-SD</key>
						<string>rtp://@239.35.10.4:10000</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>ZDF</string>
				<key>Icon</key>
				<string>ZDF</string>
				<key>Substreams</key>
				<array>
					<dict>
						<key>Name</key>
						<string>Überregional</string>
						<key>URL-SD</key>
						<string>rtp://@239.35.10.5:10000</string>
						<key>EPG-ID</key>
						<string>hd.zdf.de</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>RTL</string>
				<key>Icon</key>
				<string>RTL</string>
				<key>Substreams</key>
				<array>
					<dict>
						<key>Name</key>
						<string>Überregional</string>
						<key>URL-SD</key>
						<string>rtp://@239.35.20.10:10000</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Sat.1</string>
				<key>Icon</key>
				<string>Sat.1</string>
				<key>Substreams</key>
				<array>
					<dict>
						<key>Name</key>
						<string>Überregional</string>
						<key>URL-SD</key>
						<string>rtp://@239.35.20.20:10000</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>ProSieben</string>
				<key>Icon</key>
				<string>ProSieben</string>
				<key>Substreams</key>
				<array>
					<dict>
						<key>Name</key>
						<string>Überregional</string>
						<key>URL-SD</key>
						<string>rtp://@239.35.20.21:10000</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>VOX</string>
				<key>Icon</key>
				<string>VOX</string>
				<key>Substreams</key>
				<array>
					<dict>
						<key>Name</key>
						<string>Überregional</string>
						<key>URL-SD</key>
						<string>rtp://@239.35.20.11:10000</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Kabel 1</string>
				<key>Icon</key>
				<string>Kabel 1</string>
				<key>Substreams</key>
				<array>
					<dict>
						<key>Name</key>
						<string>Überregional</string>
						<key>URL-SD</key>
						<string>rtp://@239.35.20.38:10000</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>RTL II</string>
				<key>Icon</key>
				<string>RTL II</string>
				<key>Substreams</key>
				<array>
					<dict>
						<key>Name</key>
						<string>Überregional</string>
						<key>URL-SD</key>
						<string>rtp://@239.35.20.22:10000</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Super RTL</string>
				<key>Icon</key>
				<string>Super RTL</string>
				<key>Substreams</key>
				<array>
					<dict>
						<key>Name</key>
						<string>Überregional</string>
						<key>URL-SD</key>
						<string>rtp://@239.35.20.39:10000</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>KiKA</string>
				<key>Icon</key>
				<string>KiKA</string>
				<key>Substreams</key>
				<array>
					<dict>
						<key>Name</key>
						<string>Überregional</string>
						<key>URL-SD</key>
						<string>rtp://@239.35.10.19:10000</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>3sat</string>
				<key>Icon</key>
				<string>3sat</string>
				<key>Substreams</key>
				<array>
					<dict>
						<key>Name</key>
						<string>Überregional</string>
						<key>URL-SD</key>
						<string>rtp://@239.35.10.6:10000</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Examples</string>
		<key>Streams</key>
		<array>
			<dict>
				<key>Name</key>
				<string>ARD</string>
				<key>Icon</key>
				<string>ARD</string>
				<key>Substreams</key>
				<array>
					<dict>
						<key>Name</key>
						<string>Überregional</string>
						<key>URL-SD</key>
						<string>https://devimages-cdn.apple.com/samplecode/avfoundationMedia/AVFoundationQueuePlayer_HLS2/master.m3u8</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>IT Land</string>
						<key>URL-SD</key>
						<string>https://devstreaming-cdn.apple.com/videos/streaming/examples/img_bipbop_adv_example_ts/master.m3u8</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Berlin</string>
						<key>URL-SD</key>
						<string>https://video-dev.github.io/streams/x36xhzz/x36xhzz.m3u8</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>ZDF</string>
				<key>Icon</key>
				<string>ZDF</string>
				<key>Substreams</key>
				<array>
					<dict>
						<key>Name</key>
						<string>Überregional</string>
						<key>URL-SD</key>
						<string>https://devstreaming-cdn.apple.com/videos/streaming/examples/img_bipbop_adv_example_ts/master.m3u8</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>BBC</string>
				<key>Icon</key>
				<string>BBC</string>
				<key>Substreams</key>
				<array>
					<dict>
						<key>Name</key>
						<string>Überregional</string>
						<key>URL-SD</key>
						<string>https://video-dev.github.io/streams/x36xhzz/x36xhzz.m3u8</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>KiKA</string>
				<key>Icon</key>
				<string>KiKA</string>
				<key>Substreams</key>
				<array>
					<dict>
						<key>Name</key>
						<string>Überregional</string>
						<key>URL-SD</key>
						<string>https://video-dev.github.io/streams/x36xhzz/x36xhzz.m3u8</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
